/* !!! */
#wrapper { position: relative; width:100%; height:auto; }
#wrapper > *:not(.canvasWrap) { z-index:2; }
#wrapper > .container section { z-index:2; position: relative; }


/* load page */
.loading { width:100%; height:100%; z-index:100; top:50%; background-color:#eee; left: 50%; position: absolute; display: flex; flex-flow:column wrap; align-items: center;  justify-content: center; transform: translate(-50% , -50%); opacity: 1; transition-duration:1s; transition-property: opacity; }
.loading > div { width:50px; height:50px; background:#333; }
.loading > p { width:100%; text-align: center;}
.loading.fade { opacity:0; z-index:-1; }
/* load /> */
/* after to load /> */

/* section */
section { height:auto}
.sec1 {  }
.sec2 {  }
.sec3 {  }
.sec4 {  }
.sec5 {  width:100%; height: auto; background-color:lightgoldenrodyellow ;}
.sec6 {width:100%; height:900px; background-color: beige; }
.sec7 { }

/* section */

/* sec5 */
.sec5 .contentFixed { width:100%; height:auto;  position: relative; }
.sec5 .contentInner { background-color: #252525; width: 100%; height:30%;  }
.sec5 .card_cont { position: relative; height: auto;}
.sec5 .contentInner .cardItem { height:500px; width:90%; }

/* after load Wrap */
.after_load { display:none; position:relative; background-color:#252525; width:100%; height:100%; }
.after_load.active { display:block; }


/* categoryBox */
.category_box { display:flex; width:80px; height:80px; position:fixed; bottom: 10px; right:-100%; transition:all .3s ease-in-out;  align-items: flex-end; justify-content: flex-end; }
.category_box ul { width:80px; height:80px; background-color: #fff; display:flex; align-items: center; justify-content: center; transition: all .3s ease-in; border-radius: 50%; cursor: pointer;}
.category_box li{ position:absolute; transition: all .2s ease-in; right:10px; bottom:10px; left:auto; top:auto; background-color: #fff; width:45px; height:45px; z-index: -1; overflow: hidden; border-radius: 50%;}

.category_box.fixed_foot { right:10px; }


.category_box.open_box { width:180px; height:180px; }
.category_box.open_box ul{  }
.category_box.open_box li{  }
.category_box.open_box ul li:nth-child(1){ right:100%; bottom:0;    transform: translate(45px , 0);  }
.category_box.open_box ul li:nth-child(2){ right:100%; bottom:100%; transform: translate(60px , 60px); transition-delay:.1s ; }
.category_box.open_box ul li:nth-child(3){ right:0%; bottom:100%;   transform: translate(0 , 45px); transition-delay: .2s;}


/* categoryBox />*/


/* header  */
/* #sticky_head { height:auto; width: 100%; background-color: #fff; position:relative;}
#sticky_head .logo_line { width:100% ; height:450px; background-color: aqua;}
#sticky_head nav { width:100%; height:150px; background-color: rosybrown; position: initial}
#sticky_head nav.sticky_nav { position:fixed; top:0; } */


header { width:100%; height: 200px;; transition: all 0.5s ease; position: relative ;}
header nav { height: 100%; }
header.fixed_header { position:fixed; top:0; left:0; background-color:#fff;  z-index: 3 !important; }
header.fixed_header .hambuger span{ background-color:#252525; }
header.fixed_header .hambuger::after{ background-color:#252525; }
header.fixed_header .hambuger::before{ background-color:#252525; }


/* blind effect */
.hambuger.bgOn span{  background-color:#252525; }
.hambuger.bgOn::after{  background-color:#252525;  }
.hambuger.bgOn::before{  background-color:#252525;  }
.blind_effect { display:flex; align-items: flex-end; overflow: hidden; width:400px; height:400px; z-index: 1; background-color: #fff; position: absolute; right:0%; top:00%; transform: translate(400px , -400px);  transition:all .4s ease-in-out; border-radius: 50%;}
.blind_effect.on {  transform: translate(200px , -200px); }
.blind_effect ul { height:200px; width:200px; position: relative;}
.blind_effect li { width:50px; height:50px; background-color: #333; border-radius: 50%; position: absolute; left:100%; top:-50px; transition: all 0.6s;;  transform: translate(-50% , -50%); cursor: pointer;}
.blind_effect li:nth-child(1) {color:#fff; display: flex; align-items: center ; justify-self: center}
.blind_effect li:nth-child(1) i{display: inline-block ; width:100%; text-align: center; font-size:20px;  transition: all .2s;}
/* .blind_effect li:nth-child(1) { left:40px; top:40px;  }
.blind_effect li:nth-child(2) { left:90px; top:105px; }
.blind_effect li:nth-child(3) { left:160px; top:155px; }  */
/* .blind_effect.on li:nth-child(1){ left:40px; top:40px; transition-delay: .5s; }
.blind_effect.on li:nth-child(2){ left:90px; top:105px; transition-delay: 1s; animation: delay2 .5s 1s forwards;}
.blind_effect.on li:nth-child(3){ left:160px; top:155px; transition-delay: 1.5s; animation: delay3 .5s 1.5s forwards;} */
.blind_effect.fullSize_on { width:200vw; height:200vh; transform:translate(-0, -0) scale(10); transition: all 3.3s; transition-delay: 2s; }

.blind_effect.on li:nth-child(1){  animation: delay1 .5s .5s forwards; }
.blind_effect.on li:nth-child(1):hover i{ font-size:35px;}
.blind_effect.on li:nth-child(2){  animation: delay2 .5s 1s forwards;}
.blind_effect.on li:nth-child(3){  animation: delay3 .5s 1.5s forwards;}
@keyframes delay1 {
    0% {
        opacity:0 ;
        left:100%; top:00px;
    }
    100% {
        opacity:1 ;
        left:40px; top:40px

    }
}
@keyframes delay2 {
    0% {
        opacity:0 ;
        left:40px; top:40px
    }
    50% {
        opacity:1 ;
        left:40px; top:40px
    }
    100% {
        left:90px; top:105px;
    }
}
@keyframes delay3 {
    0% {
        opacity: 0;
        left:90px; top:105px;

    }
    50% {
        opacity: 1;
        left:90px; top:105px;
    }
    100% {
        left:160px; top:160px
    }
}
.blind_effect.return li:nth-child(1){  animation: delayReturn1 1s  both; animation-delay: 1s;}
.blind_effect.return li:nth-child(2){  animation: delayReturn2 1s  both; animation-delay: .5s;}
.blind_effect.return li:nth-child(3){  animation: delayReturn3 1s  both; animation-delay: .1s;}
@keyframes delayReturn1 {
    0% {
        opacity:1 ;
        left:40px; top:40px;
    }
    50% {
        opacity:1 ;
    }
    100% {
        opacity:0 ;
        left:100%; top:-50px;
    }
}
@keyframes delayReturn2 {
    0% {
        opacity:1 ;
        left:90px; top:105px;
    }
    50% {
        opacity:0 ;
        left:40px; top:40px
    }
    100% {
        opacity:0 ;
        left:100%; top:-50px;
    }
}
@keyframes delayReturn3 {
    0% {
        opacity: 1;
        left:160px; top:160px
    }
    50% {
        opacity:0 ;
        left:90px; top:105px;
    }
    100% {
        opacity:0 ;
        left:100%; top:-50px;
    }
}
/* blind effct />


/* hambuger */
header .hambuger { height:60px; width:60px;  overflow: hidden; position: relative; transition: all .3s; margin-left:auto ; z-index: 10; cursor: pointer;}
.hambuger span { display:inline-block; background-color:#fff; width:100%; height:3px; background-color: #fff; position: absolute; top:50%; border-radius: 50px;  }
.hambuger:before { position:absolute; content:'' ; display:inline-block; width:100%; height:3px; background-color:#fff; top:10%; left:0; border-radius: 50px; }
.hambuger:after { position:absolute; content:'' ; display:inline-block; width:100%; height:3px; background-color:#fff; top:90%; left:0; border-radius: 50px;}

.hambuger.act_hamb:before{  animation:hamb_top .6s forwards;}
.hambuger.act_hamb span{  animation:hamb_mid .6s forwards;}
.hambuger.act_hamb:after{  animation:hamb_bot .6s forwards;}

@keyframes hamb_top {
    50% {
        top:50%;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        transform: rotate(45deg);
    }
}
@keyframes hamb_mid {
    50% {
        transform:rotate(0deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes hamb_bot {
    50% {
        top:50%;
        transform:rotate(0deg);
    }
    100% {
        top:50%;
        transform: rotate(-45deg);
    }
}

.hambuger.return::before  { animation:backfo_top .6s forwards; }
.hambuger.return span { animation:backfo_mid .6s forwards; }
.hambuger.return::after  { animation:backfo_bot .6s forwards; }
@keyframes backfo_top {
    00% {
        top:50%;
        transform:rotate(45deg);
    }
    50% {
        top:50%;
        transform:rotate(0deg);
    }
    100% {
        top:10%;
        transform: rotate(0deg);
    }
}
@keyframes backfo_mid {
    00% {
        transform:rotate(-45deg);
    }
    50% {
        transform:rotate(-0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes backfo_bot {
    00% {
        top:50%;
        transform:rotate(-45deg);
    }
    50% {
        top:50%;
        transform:rotate(-0deg);
    }
    100% {
        top:90%;
        transform: rotate(0deg);
    }
}



/* hambuger /> */

/* header /> */


/* effect bundle */

.floating {}

.gameBundle {}
.gameBundle .text_exact {}
.gameBundle .loguelike {}
.gameBundle .bounce_ball {}

.interactiveBundle {  }
.interactiveBundle .grow_tree {  }
.interactiveBundle .turnOff_light {  }
.interactiveBundle .fallen_snow {  }
.interactiveBundle .darkSky_starLight {  }
.interactiveBundle .sticky_text {  }
.interactiveBundle .text_screen {  }

/* effect bundle /> */


/* drag */
.dragWrap { height:100vh; width:100%; position: relative; background-color: #252525;}
.dragWrap div { width:60px; height:60px; background-color:#fff; position: absolute; top:10%; left:10%; transition: all 0.7s;}
.dragWrap div:nth-child(2) { width:60px; height:60px; background-color:#fff; position: absolute; top:30%; left:30%; }

/* modal */
#modal_area { position: absolute; top:50%; left:50%; transform: translate(-50% , -50%); display: none;}
/* modal /> */


/* canvas */
.canvasWrap { width:100%; height:100%; position: absolute;  }
canvas { position: absolute; z-index: 1}

/* canvas /> */

/* mask */
.mask { width:100vw ; height:100vh; position: absolute; background-color:rgba(0, 0, 0, 0.1); opacity: 0; display: none; }
/* mask /> */


/* alertBox */
#alertBox  { position:absolute; top:50%; left:50%; transform: translate(-50% , -50%); width:80%; height:400px; background-color: #fff; transition: all .5s ease-in-out; z-index: 0; opacity: 0;}

/* alertBox /> */


/* slide */
.slideWrap { width:100%; }
.slideWrap .slideInner { width:100%; display: flex; justify-content: space-between; }
.slideWrap .slide { width:calc(33% - 40px) ; height:300px; background-color: #fff; }
/* slide /> */


/* progress */

/* progress /> */
