:root {
    --defaultTheme : #123;
    --blackTheme : #123;
}

html {  scroll-behavior: smooth;  }

/* intro */
.loadingPage { width: 100vw ; height: 100vh ; background-color:#5b5b5b; color:#fff; position:fixed; z-index: 12; display: flex; align-items: center; justify-content: center; font-size:30px ; font-weight:bold; pointer-events: none; }
.loadingPage .txtEffect { animation: bounce 1s infinite ease-in-out; }
.loadingPage .txtEffect ~ span { margin-left:5px ; }
@keyframes bounce {
    0% {
        transform: translateY(30px);
    }
    40% {
        transform: translateY(0px);

    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(30px);
    }
}
/* intro -> mainVis + oldView */
.mainVis { width: 100vw; height: 100vh; position: absolute; z-index: 30; top:0; background-color: #252525;}



/* .colorMemo { #111 , #000 , #764bea } */
/* header */
/* header { height: auto; position: absolute; width: 100%; z-index: 10;} */
header { height: 80px; position: fixed; width: 100%; z-index: 10;}

.sideCircle { width: 200px; height: 200px; position: fixed; top:0%; right: 0%; border-radius: 50%; transform: translate(50% , -50%); z-index: 20; background-color: #fff;}
.sideCircle .menuTrig { position: absolute; bottom:0; left: 0; width: 70px; aspect-ratio: 1; transform: translate(50% , -50%) rotate(-45deg); cursor: pointer;  z-index: 2; display: flex; align-items: center; justify-content: center; font-size:35px; }
.sideCircle .subMenu {  width: 200%; height: 200%;  position: absolute; top: -100px; right:-100px; z-index: 1; border-radius:50% ;transition:all .5s ;  transform: scale(0.1) rotate(150deg); overflow: hidden;}
.sideCircle .subMenu.opMenu {   position: absolute;   transform: scale(1) rotate(0deg) ; }
.sideCircle .subMenu li { overflow: hidden; }
.sideCircle .subMenu .bloom { background:transparent; position: absolute; top: 0; right: 0px; width: 50%; height: 50%; transform-origin: 0% 100%; transform: rotate(225deg) skewY(320deg)}
.sideCircle .subMenu .default { background: transparent; position: absolute; top: 0; right:0; width: 50%; height: 50%; transform-origin: 0% 100%; transform: rotate(170deg) skewY(325deg); }
.sideCircle .subMenu li .placeholder { position: absolute; right: 0%; padding-top: 1.5em; width: 200%; height: 200%; text-align: center; transform: skewY(40deg) rotate(23deg); }
.sideCircle .subMenu .default .placeholder { transform: skewY(35deg) rotate(30deg); }
.sideCircle .subMenu li .placeholder .iconContainer { display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; }
.sideCircle .subMenu li .upside { transform:rotate(-180deg) }
.sideCircle .subMenu .button { font-size: 2.3em; background-color: transparent; border: none; color: #392338; cursor: pointer; }
.sideCircle .subMenu .button.bkTheme { color:#fff; }




/* wrapper + newView */
.container { position: relative; }
#wrapper { transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);  overflow: hidden; width: 100%; position: relative;}
#wrapper.wrapOn { width:clamp( 60%, calc(50vw - 200px), 70% ); ; }
/* bloomPage */
.bloomSide { width: 0%; height: 100%; right: 0; transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1); background-color: #333; overflow-y: auto; position: fixed;  }
.bloomSide.open { width:clamp( 40%, calc(50vw - 200px), 30% ); }
/* .bloomSide.open { width:clamp( 500px, calc(50vw - 200px), 300px ); } */


/* blackPage */
.blackPager { width: 100%;  height: 100vh; position: absolute; background:#252525; left: 100%; top:0%;  overflow: hidden; box-sizing: content-box; z-index: 11;}
.blackPager > ul { display: flex; flex-flow:column wrap; height: 100%;  justify-content: center; padding-left:calc(min(10vw , 20%)) ; overflow: hidden; }
.blackPager > ul > li {  font-size:24px; font-weight: bold; transform:translateX(-100%) ; overflow: hidden; }
.blackPager > ul > li ~ li { margin-top:60px;}
.blackPager > ul a { color:#fff; position: relative; overflow: hidden; }



/*  -- categorytype Image  */
.blackPager .imgContainer { width: 0; height: 100%; position:absolute; right:calc(min(5vw , 100px)); top:0;  display: flex; justify-content: center; align-items: center; transition: all .2s;}
.blackPager .imgContainer.calcWrap { width: calc(min(45vw,600px)); }
.blackPager .imgViewer { height: clamp(300px, calc(50vw - 200px), 420px); width: 100%; overflow: hidden; }
.blackPager .imgViewer ul { width: 100%; height: auto; display: flex; flex-flow: column wrap; justify-content: center; }
.blackPager .imgViewer li { width: 100% ; height: clamp(300px, calc(50vw - 200px), 420px);  }
.blackPager .imgViewer li ~ li { margin-top:calc(100% - 50%) }
.blackPager .imgViewer li:nth-child(1) { display: flex; align-items: center; justify-content: center; }
.blackPager .imgViewer li:nth-child(2) { background:lightgreen }
.blackPager .imgViewer li:nth-child(3) { background:lightgrey }

.blackPager #sunmoon { position: relative; width: clamp(200px, calc(50vw - 200px), 400px); aspect-ratio: 1; border-radius: 100%; overflow: hidden; filter: url("#blob"); }
.blackPager #sunmoon:before { content: ""; position: absolute; top: -20%; left: -30%; width: 172%; height: 172%; background: #fff3d8; transition: all .75s ease-in-out; -webkit-clip-path: url(#sunmoon_clip); path: url(#sunmoon_clip);}
.blackPager #sunmoon.sun:before { top: -72%; left: -72%; background: #ffce54; }




/* .hambuger { width:80px; height:80px; background:#252525; position: relative; cursor: pointer; position: fixed; right: 0 ; top:0; z-index: 1; overflow: hidden; z-index: 11;}
.hambuger span { width: 60px; height:5px; top:50%; background:#fff; display: block; position: absolute; transform: translate(-50% , -50% ); left:50%; transition:all .5s; border-radius: 5px; }
.hambuger span:nth-child(1) { top:25% }
.hambuger span:nth-child(2) { top:50% }
.hambuger span:nth-child(3) { top:75% }

.hambuger.act_hamb span:nth-child(1) {top:50%; }
.hambuger.act_hamb span:nth-child(2) { left:-100%; opacity:0; }
.hambuger.act_hamb span:nth-child(3) {top:50%; }
 */

.spinWrap { width: 100%; position: fixed; transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1); z-index: 9;}
.spinWrap.spinfix {  width:clamp( 60%, calc(50vw - 200px), 70% ); ; }
.fixSpinCc {     position: absolute; background:#252525; border-radius: 50%; width: 80px; height: 80px; color: #fff; transform: translateX(-50%); z-index: 9; top:0%; left: 50%; width: min(13.7777777778vw,124px); height: min(13.7777777778vw,124px); -webkit-transition: left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1),-webkit-transform .5s; transition: left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1),-webkit-transform .5s; transition: transform .5s,left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1); transition: transform .5s,left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1),-webkit-transform .5s; pointer-events: none; }
.fixSpinCc.spinCc { position: absolute; -webkit-transform: scale(0.48) rotate(1080deg); transform: translateX(-50%) scale(0.48) rotate(1080deg); left:min(5vw , 60px); top: 0; pointer-events: auto; }
/* left 값 px말고 min(1.1111111111vw,10px); 이 방식으로도 변경해보기*/
/* position: fixed; transition:transform .5s,left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1),-webkit-transform .5s; top:0; left:50%; transform:translateX(-50%) ; background:#252525; border-radius: 50%; width: 80px; height: 80px; color: #fff; } */
/* .fixSpinCc  { position: fixed; transition:transform .5s,left .5s,margin-top .5s cubic-bezier(0.3, 0, 0.28, 1),-webkit-transform .5s; top:0; left:50%; transform:translateX(-50%) ; background:#252525; border-radius: 50%; width: 80px; height: 80px; color: #fff; }
.fixSpinCc.spinCc { position: fixed; -webkit-transform: scale(0.48) rotate(1080deg); transform: scale(0.48) rotate(1080deg); left: min(1.1111111111vw,10px); top: 0; margin-top: min(1.1111111111vw,10px);  pointer-events: auto;} */



/* Section Common */
section .nextBtn { overflow: hidden; font-size:0; background-color:inherit; position: relative; width:calc(clamp(80px, 60px, 50px )); height:calc(clamp(80px, 60px, 50px )); }
section .nextBtn svg { position: relative; width:calc(clamp(80px, 60px, 50px )); height:calc(clamp(80px, 60px, 50px )); animation:arrDefault 1.7s linear alternate  infinite; position: absolute; left:0; top:0;}
section .nextBtn svg:after { content:''; }
@keyframes arrDefault {
    0% {
        transform: translateY(0px) ;
        animation-timing-function: ease-in;
    }
    50% {
        transform: translateY(20px) ;
        animation-timing-function: ease-out;
    }
    100% {
        transform: translateY(00px) ;
        animation-timing-function: ease-in;
    }
}
@keyframes shadow {
    0% {
      transform: scale(0.1);
      background-color: rgba(0, 0, 0, 0.1);
      animation-timing-function: ease-in;
  	}
    50% {
      transform: scale(1);
      background-color: rgba(0, 0, 0, 0.2);
      animation-timing-function: ease-out;
    }
    55% {
      transform: scale(1);
      background-color: rgba(0, 0, 0, 0.2);
      animation-timing-function: ease-in;
    }
    65% {
      transform: scale(0.5);
      background-color: rgba(0, 0, 0, 0.15);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.1);
      background-color: rgba(0, 0, 0, 0.1);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(0.1);
      background-color: rgba(0, 0, 0, 0.1);
      animation-timing-function: ease-in;
    }
}
/* section .nextBtn:hover svg { animation:hideArrow 1.5s   linear infinite ; }
@keyframes hideArrow {
    from {
        transform:translateY(0%);
        opacity: 1;
    }
    to {
        transform:translateY(50%);
        opacity: 0;
    }
} */




/* Normal Contents Pages */
.section1 { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; flex-flow:column wrap; background:#eee;}
.section1 .profile { display: block; width: calc(min(50% , 500px)); position: relative;}
.section1 .leftInfo { width:100%; height: auto; display: flex; align-items: center; justify-content:center; flex-flow: column wrap;}
.section1 .switchEffect { font-size:60px; font-weight: bold;  }
.section1 ul { text-align: center; }
.section1 ul li { margin-top: 30px;  }


.section1 .profile { filter: drop-shadow(1px 1px 1px black); }
.section1 .profile svg{ animation: blob 100s linear infinite; }
@keyframes blob {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.section2 { height: 100vh; }
.section2 .left {  }
.section2 .right {  }


.section3 { height: 200vh; }

/* 풀페이지 */
.fullContainer { display: none; }


/* 커튼 효과 */
body.curtain { overflow:hidden }
body:before { width: 100%; height: 0%; position: absolute; content:'' ; display: block; z-index: 10; top:0; background-color: #eee; transition: all .5s;}
body.curtain::before { height:100% ;}


body.fullPage .container { display:none; }
body.fullPage .fullContainer { display:block; }

/* footer */
