@charset "utf-8";
/*
theNet v0.1.0
Last Updated: 2019-12-10
Author: Yang Jong Hoon, Kim Juyeon
*/
/* //MARK : FONT */
@font-face {
  font-family: noto;
  font-weight: 300;
  src: url("/static/css/fonts/NotoSans-DemiLight.eot"); /* ie호환성 */
  src: url("/static/css/fonts/NotoSans-DemiLight.eot?#iefix")
    format("embedded-opentype");
  src: local("NotoSans-DemiLight"),
    url("/static/css/fonts/NotoSans-DemiLight.woff2") format("woff2"),
    url("/static/css/fonts/NotoSans-DemiLight.woff") format("woff"),
    url("/static/css/fonts/NotoSans-DemiLight.otf") format("truetype");
}
@font-face {
  font-family: noto;
  font-weight: 400;
  src: url("/static/css/fonts/NotoSans-Regular.eot"); /* ie호환성 */
  src: url("/static/css/fonts/NotoSans-Regular.eot?#iefix")
    format("embedded-opentype");
  src: local("NotoSans-Regular"),
    url("/static/css/fonts/NotoSans-Regular.woff2") format("woff2"),
    url("/static/css/fonts/NotoSans-Regular.woff") format("woff"),
    url("/static/css/fonts/NotoSans-Regular.otf") format("truetype");
}
@font-face {
  font-family: noto;
  font-weight: 500;
  src: url("/static/css/fonts/NotoSans-Medium.eot"); /* ie호환성 */
  src: url("/static/css/fonts/NotoSans-Medium.eot?#iefix")
    format("embedded-opentype");
  src: local("NotoSans-Medium"),
    url("/static/css/fonts/NotoSans-Medium.woff2") format("woff2"),
    url("/static/css/fonts/NotoSans-Medium.woff") format("woff"),
    url("/static/css/fonts/NotoSans-Medium.otf") format("truetype");
}
@font-face {
  font-family: noto;
  font-weight: 700;
  src: url("/static/css/fonts/NotoSans-Bold.eot"); /* ie호환성 */
  src: url("/static/css/fonts/NotoSans-Bold.eot?#iefix")
    format("embedded-opentype");
  src: local("NotoSans-Bold"),
    url("/static/css/fonts/NotoSans-Bold.woff2") format("woff2"),
    url("/static/css/fonts/NotoSans-Bold.woff") format("woff"),
    url("/static/css/fonts/NotoSans-Bold.otf") format("truetype");
}
/* @font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url("/static/css/fonts/NanumSquareR.eot");
  src: url("/static/css/fonts/NanumSquareR.eot?#iefix")
      format("embedded-opentype"),
    url("/static/css/fonts/NanumSquareR.woff") format("woff"),
    url("/static/css/fonts/NanumSquareR.ttf") format("truetype");
} */
/* @font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url("/static/css/fonts/NanumSquareB.eot");
  src: url("/static/css/fonts/NanumSquareB.eot?#iefix")
      format("embedded-opentype"),
    url("/static/css/fonts/NanumSquareB.woff") format("woff"),
    url("/static/css/fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url("/static/css/fonts/NanumSquareEB.eot");
  src: url("/static/css/fonts/NanumSquareEB.eot?#iefix")
      format("embedded-opentype"),
    url("/static/css/fonts/NanumSquareEB.woff") format("woff"),
    url("/static/css/fonts/NanumSquareEB.ttf") format("truetype");
} 
@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url("/static/css/fonts/NanumSquareL.eot");
  src: url("/static/css/fonts/NanumSquareL.eot?#iefix")
      format("embedded-opentype"),
    url("/static/css/fonts/NanumSquareL.woff") format("woff"),
    url("/static/css/fonts/NanumSquareL.ttf") format("truetype");
} */
/* //MARK : RESET */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
menu,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
hr,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section,
time,
mark,
canvas,
video,
audio,
details,
summary {
  margin: 0;
  padding: 0;
}
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section,
time,
mark,
details,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
body,
input,
textarea,
select,
button,
table {
  background-color: #fff;
  color: #222; /* font-size:1em; */
  font-family: "noto", Helvetica, "Helvetica Neue", "Apple SD Gothic Neo",
    "돋움", Dotum, sans-serif;
  font-weight: 400;
  word-break: break-word; /*; word-break:keep-all*/
}
img,
fieldset {
  border: 0;
}
img,
input,
select {
  vertical-align: middle;
}
ul,
ol {
  list-style: none;
}
em,
address {
  font-style: normal;
}
a {
  text-decoration: none;
  vertical-align: middle;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
button {
  overflow: hidden;
  border: 0;
  background: none;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
legend,
caption {
  overflow: hidden;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
textarea {
  resize: none;
  vertical-align: middle;
}

/* a.disabled { pointer-events: none;} */

/* input ie x 삭제 */
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="password"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* //MARK : COMMON */
.blind {
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: 9999px;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  text-indent: -10000px;
}
.pre-line {
  white-space: pre-line;
}
.diminish {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis2 {
  overflow: hidden;
  display: -webkit-box;
  height: 68px; /* height:2.4em; */
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#skip {
  position: absolute;
  top: -12em;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  font-size: 125%;
  list-style: none;
}
#skip a:active,
#skip a:focus {
  position: absolute;
  top: 12em;
  width: 100%;
  height: 2.5em;
  padding: 0.5em 0;
  border: 1px solid #475470;
  background: #fff;
  font-weight: bold;
  color: #000;
  text-align: center;
}
#skip a:focus { border: 1px dashed #000;}
/* //MARK : VISIBLE */
.v-hidden {
  visibility: hidden;
}
.o-hidden {
  overflow: hidden;
}
.display-n {
  display: none;
}
.display-b {
  display: block;
}
.display-ib {
  display: inline-block;
}
/* //MARK : FLOAT */
.fl {
  float: left;
}
.fr {
  float: right;
}
.fn {
  float: none !important;
}
.fc {
  margin: 0 auto;
}
.clear::after {
  display: block;
  clear: both;
  content: "";
}
/* //MARK : WIDTH */
.w15p {
  width: 15% !important;
}
.w17p {
  width: 17% !important;
}
.w25p {
  width: 25% !important;
}
.w33p {
  width: 33.33333% !important;
}
.w50p {
  width: 50% !important;
}
.w100p {
  width: 100% !important;
}
.w30 {
  width: 30px !important;
}
.w40 {
  width: 40px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.w130 {
  width: 130px !important;
}
.w150 {
  width: 150px !important;
}
.w170 {
  width: 170px !important;
}
.w180 {
  width: 180px !important;
}
.w200 {
  width: 200px !important;
}
.w215 {
  width: 215px !important;
}
.w250 {
  width: 250px !important;
}
.w300 {
  width: 300px !important;
}
.w350 {
  width: 350px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}
.mW_auto {
  min-width: auto !important;
}
.h100p {
  height: 100% !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h236 {
  height: 236px !important;
}
.h245 {
  height: 245px !important;
}
/* //MARK : MARGIN */
.m00 {
  margin: 0 !important;
}
.m10 {
  margin: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.m45 {
  margin: 45px !important;
}
.m50 {
  margin: 50px !important;
}
.mt00 {
  margin-top: 0 !important;
}
.mt-10 {
  margin-top: -10px !important;
}
.mr00 {
  margin-right: 0 !important;
}
.mb00 {
  margin-bottom: 0 !important;
}
.ml00 {
  margin-left: 0 !important;
}
.ml04 {
  margin-left: 4px !important;
}
.mt05 {
  margin-top: 5px !important;
}
.mr05 {
  margin-right: 5px !important;
}
.mb05 {
  margin-bottom: 5px !important;
}
.ml05 {
  margin-left: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mt12 {
  margin-top: 12px !important;
}
.mr12 {
  margin-right: 12px !important;
}
.mb12 {
  margin-bottom: 12px !important;
}
.ml12 {
  margin-left: 12px !important;
}
.mt14 {
  margin-top: 14px !important;
}
.mr14 {
  margin-right: 14px !important;
}
.mb14 {
  margin-bottom: 14px !important;
}
.ml14 {
  margin-left: 14px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mr45 {
  margin-right: 45px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mr70 {
  margin-right: 70px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mr80 {
  margin-right: 80px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.ml80 {
  margin-left: 80px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mr90 {
  margin-right: 90px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.ml90 {
  margin-left: 90px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mr100 {
  margin-right: 100px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.ml100 {
  margin-left: 100px !important;
}
/* //MARK : PADDING */
.p00 {
  padding: 0 !important;
}
.p10 {
  padding: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.p45 {
  padding: 45px !important;
}
.p50 {
  padding: 50px !important;
}
.pt00 {
  padding-top: 0 !important;
}
.pr00 {
  padding-right: 0 !important;
}
.pb00 {
  padding-bottom: 0 !important;
}
.pl00 {
  padding-left: 0 !important;
}
.pt05 {
  padding-top: 5px !important;
}
.pr05 {
  padding-right: 5px !important;
}
.pb05 {
  padding-bottom: 5px !important;
}
.pl05 {
  padding-left: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pt12 {
  padding-top: 12px !important;
}
.pr12 {
  padding-right: 12px !important;
}
.pb12 {
  padding-bottom: 12px !important;
}
.pl12 {
  padding-left: 12px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pb34 {
  padding-bottom: 34px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pr70 {
  padding-right: 70px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pl70 {
  padding-left: 70px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pr80 {
  padding-right: 80px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pl80 {
  padding-left: 80px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pr90 {
  padding-right: 90px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pl90 {
  padding-left: 90px !important;
}
.pt100 {
  padding-top: 100px !important;
}
.pr100 {
  padding-right: 100px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.pd_x35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

/* //MARK : BORDER */
.brnone {
  border: none !important;
}
.brnone-t {
  border-top: none !important;
}
.brnone-r {
  border-right: none !important;
}
.brnone-b {
  border-bottom: none !important;
}
.brnone-l {
  border-left: none !important;
}
.bt-gray-45 {
  border-top: 1px solid #454545 !important;
}
.bb-gray-45 {
  border-bottom: 1px solid #454545 !important;
}
.bt-gray-d8 {
  border-top: 1px solid #d8d9da !important;
}
.br-gray-d8 {
  border-right: 1px solid #d8d9da !important;
}
.bb-gray-d8 {
  border-bottom: 1px solid #d8d9da !important;
}
.bl-gray-d8 {
  border-left: 1px solid #d8d9da !important;
}
/* //MARK : BACKGROUND */
.bgnone {
  background: none !important;
}
.bg-f5 {
  background-color: #f5f5f5 !important;
}
/* //MARK : COLOR */
.fff {
  color: #fff !important;
}
.red {
  color: #f04c23 !important;
}
/* .blue{color:#1a73e8 !important} 메인칼라변경 2019-10-29 
.blue{color:#00accd !important} */
.blue {
  color: #0080a7 !important;
}
.dark {
  color: #222 !important;
}
.dark-45 {
  color: #454545 !important;
}
.gray-66 {
  color: #666 !important;
}
.gray-70 {
  color: #707070 !important;
}
.gray-75 {
  color: #757575 !important;
}
.gray-79 {
  color: #757575 !important;
}
.gray-92 {
  color: #929292 !important;
}
.gray-b7 {
  color: #b7b7b7 !important;
}
.gray-cc {
  color: #ccc !important;
}
.purple {
  color: #7071e6 !important;
}
/* //MARK : FONT */
.fwn {
  font-weight: normal !important;
}
.fwb {
  font-weight: bold !important;
}
.fw3 {
  font-weight: 300 !important;
}
.fw4 {
  font-weight: 400 !important;
}
.fw5 {
  font-weight: 500 !important;
}
.fw7 {
  font-weight: 700 !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs18 {
  font-size: 18px;
}
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs28 {
  font-size: 28px;
}
.fs36 {
  font-size: 36px;
}
.line_h1 {
  line-height: 1;
}
.line_h14 {
  line-height: 1.4;
}
.underline {
  padding-bottom: 5px;
  border-bottom: 1px solid #838383;
}
.underline.blue {
  padding-bottom: 0;
  border-color: #0080a7;
}
.underline.red {
  padding-bottom: 0;
  border-color: #f04c23;
}
/* //MARK : ALIGN */
.left {
  text-align: left !important;
}
.center {
  text-align: center !important;
}
.right {
  text-align: right !important;
}
/* //MARK : V-ALIGN */
.vt {
  vertical-align: top !important;
}
.vm {
  vertical-align: middle !important;
}
.vb {
  vertical-align: bottom !important;
}
.vbl {
  vertical-align: baseline;
}
/* //MARK : LINE-HEIGHT */
.lh10 {
  line-height: 1;
}
.lh15 {
  line-height: 1.5;
}
/* //MARK : ROW */
.row2 li {
  width: 50%;
}
.row3 li {
  width: 33.33333%;
}
.row4 li {
  width: 25%;
}
.row5 li {
  width: 20%;
}
/* //MARK : CURSOR */
.pointer {
  cursor: pointer;
}
.billiard {
  display: block;
  margin-top: 10px;
  color: #757575;
  font-size: 14px;
  text-align: right;
  line-height: 1;
}

@media (min-width: 280px) and (max-width: 1279px) {
  /* min-360 이지만 기획 요청 320 일부 반응 */
  /* 테스트 용 */
  /* .fs18 {        font-size: 15px;letter-spacing:-1px} */
  .fs18 {
    font-size: 16px;
    letter-spacing: -1px;
  }
  .fs24 {
    font-size: 22px;
  }
  .fs36 {
    font-size: 32px;
  }
}