@charset "utf-8";

/******************************************
# File: vars.css
# Date: 2024-05-13
# Description: :vars 정의
*********************************************/

/**------------------------------------------
공통 초기화
--------------------------------------------*/

/* 모든 요소 기본 설정 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

/* HTML 기본 요소 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* 블록 요소 초기화 */
section,
nav,
article,
aside,
header,
footer {
  display: block;
}

/* 숨김 태그 처리 */
caption,
legend {
  position: absolute;
  left: -9999px;
  margin: 0 !important;
  width: 1px;
  height: 1px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

/* 목록과 링크 초기화 */
ol,
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* 이미지 및 테이블 초기화 */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  font-size: 0;
  position: absolute;
  top: -999999999px;
  line-height: 0;
  border: 0;
  height: 0;
}
table,
th,
td {
  line-height: 1.5 !important;
}

/* 입력 요소 초기화 */
input {
  padding: 0 10px;
  border: 1px solid #ddd;
}
textarea {
  resize: none;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 20px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
}
select {
  padding: 0 35px 0 10px;
  min-width: 180px;
  height: 50px;
  font-size: 15px;
  color: #666;
  border: 1px solid #dddcdb;
  appearance: none;
  // background: #fff url(../image/common/ico-chevron-down-xs.png) no-repeat right 10px center;
  background-size: 10px;
  vertical-align: middle;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
input[type='submit'],
input[type='button'],
button {
  cursor: pointer;
}

/* 본문 초기화 */
body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--body-color);
  text-align: var(--body-text-align);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 수평선 초기화 */
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--border-width) solid;
  opacity: 0.25;
}

/* 제목 태그 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--body-color, inherit);
}

/**------------------------------------------ 
폼 스타일 정의
--------------------------------------------*/

/* 공통 스타일 */
input[type='text'],
input[type='tel'],
input[type='email'] {
  height: 50px;
  border-radius: var(--border-radius);
  font-size: var(--body-font-size);
  border: 1px solid var(--outline-color);
  padding: 0 20px;
}
input[type='tel'],
input[type='email'] {
  width: 100%;
}

input:focus,
button:focus,
textarea:focus,
select:focus,
a:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* 드롭다운 스타일 */
select {
  height: 40px;
  font-size: var(--body-font-size);
  border: 1px solid var(--outline-color);
  padding: 0 50px 0 20px;
  // background: url(../../images/common/select-arrow.png) no-repeat right #fff;
  cursor: pointer;
}
select.on {
  // background: url(../../images/common/select-arrow-on.png) no-repeat right 12px center;
}

/* 데이트피커 스타일 */
input[type='text'].datepicker {
  height: 50px;
  border-radius: 10px;
  font-size: var(--body-font-size);
  border: 1px solid var(--outline-color);
  padding: 0 50px 0 20px;
  // background: url(../../images/ico/ic_datepicker.png) no-repeat right;
  background-color: #fff;
  background-size: 25px;
  background-position: right 10px center;
}

/* 체크박스 및 라디오 버튼 스타일 */
input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
  border: 1px solid var(--outline-color);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  clip: rect(0 0 0 0);
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
  color: black;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
}
input[type='radio'] + label {
  position: relative;
  display: inline-block;
  padding: 0;
  min-height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #333;
}

/* 기본 라디오 버튼 스타일 */
input[type='radio'] + label:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  background: #fff;
}

/* 선택된 라디오 버튼 스타일 */
input[type='radio']:checked + label:before {
  background: #fff;
  border-color: var(--main-color);
  border-width: 7px;
}
input[type='radio']:checked + label {
  color: var(--main-color);
}

/* 포커스된 라디오 버튼 스타일 */
input[type='radio']:focus + label:before {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* 비활성화된 라디오 버튼 스타일 */
input[type='radio']:disabled + label:before {
  background: #fff;
  border-color: #e1e1e1;
  border-width: 7px;
}
input[type='radio']:disabled + label,
input[type='radio']:checked:disabled + label {
  color: #aaa;
}
input[type='radio']:checked:disabled + label:before {
  background: #e1e1e1;
  border-color: #f4f4f4;
}

/* 기본 체크박스 스타일 */
input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  margin-right: 5px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  background: #fff;
}

/* 선택된 체크박스 스타일 */
input[type='checkbox']:checked + label:before {
  background-color: var(--main-color);
  // background-image: url(../../images/common/chk.png);
  background-repeat: no-repeat;
  background-position: center;
}
input[type='checkbox']:checked + label {
  color: var(--main-color);
}

/* 포커스된 체크박스 스타일 */
input[type='checkbox']:focus + label:before {
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

/* 비활성화된 체크박스 스타일 */
input[type='checkbox']:disabled + label:before {
  background: #d9d9d9;
}
input[type='checkbox']:disabled + label,
input[type='radio']:checked:disabled + label {
  color: #aaa;
}
input[type='checkbox']:checked:disabled + label:before {
  background-color: #e1e1e1;
  border-color: #f4f4f4;
  // background-image: url(../../images/common/chk.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*검색 영역 스타일*/
.search-area {
  display: flex;
}
.search-area select {
  border-radius: var(--border-radius);
  border: 1px solid #4560eb;
  height: 50px;
  width: 180px;
  margin-right: 10px;
}

.search-area input[type='text'] {
  border-radius: var(--border-radius);
  border: 1px solid #4560eb;
  height: 50px;
  width: 300px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.search-area .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
}
.search-area .btn::before {
  display: inline-block;
  content: '';
  // background: url(../../images/common/ico_search.png);
  width: 22px;
  height: 22px;
}

/* 읽기 전용 스타일 */
input[readonly],
text-area[readonly] {
  background-color: #f9f9f9;
  color: #555;
}

/**------------------------------------------ 
반응형 디스플레이 정의 (PC & Mobile)
--------------------------------------------*/
.only-pc {
  display: block !important;
  /* PC에서만 표시 */
}
.only-pc-flex {
  display: flex !important;
  /* PC에서만 flex로 표시 */
}
.only-mob,
.only-mob-flex {
  display: none !important;
  /* 모바일에서 숨김 */
}

/**------------------------------------------ 
컬러 스타일 정의
--------------------------------------------*/
.main-color {
  color: var(--main-color);
}
.sub-color {
  color: var(--sub-color);
}
.sub2-color {
  color: var(--sub2-color);
}
.black-color {
  background-color: var(--dark-color);
}

.main-bgc {
  background-color: var(--main-color);
}
.sub-bgc {
  background-color: var(--sub-color);
}
.sub2-bgc {
  background-color: var(--sub2-color);
}
.black-bgc {
  background-color: var(--dark-color);
}
.bg-bgc {
  background-color: var(--bg-color);
}

.red {
  color: var(--red);
}
.blue {
  color: var(--main-color);
}
.skyblue {
  color: #00f0ff;
}
.green {
  color: var(--green);
}

.text-overflow {
  text-overflow: ellipsis;
  /* 긴 텍스트 생략 표시 */
}

/**------------------------------------------ 
jQuery UI 캘린더 스타일
--------------------------------------------*/
.ui-widget-header {
  border: 1px solid #ddd;
  background: #fff !important;
  color: #333;
  font-weight: bold;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 0 !important;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
  text-align: center;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 0 !important;
  background: #dbdbdb !important;
  color: #000 !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 0 !important;
  background: var(--main-color) !important;
  font-weight: normal;
  color: #fff !important;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #eee;
}

/**------------------------------------------ 
접근성 관련 스타일 (Hidden 요소)
--------------------------------------------*/
.hidden,
.hide {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  font-size: 0;
}

/**------------------------------------------
레이아웃 디스플레이 정의
--------------------------------------------*/
.d-inline {
  display: inline !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-block {
  display: block !important;
}
.d-grid {
  display: grid !important;
}
.d-inline-grid {
  display: inline-grid !important;
}
.d-table {
  display: table !important;
}
.d-table-row {
  display: table-row !important;
}
.d-table-cell {
  display: table-cell !important;
}
.d-flex {
  display: flex !important;
}
.d-inline-flex {
  display: inline-flex !important;
}
.d-none {
  display: none !important;
}

/**------------------------------------------
그림자 정의
--------------------------------------------*/
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.shadow-none {
  box-shadow: none !important;
}

/**------------------------------------------
위치 정의
--------------------------------------------*/
.position-static {
  position: static !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.position-fixed {
  position: fixed !important;
}
.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

/**------------------------------------------
변환(translate) 정의
--------------------------------------------*/
.translate-middle {
  transform: translate(-50%, -50%) !important;
}
.translate-middle-x {
  transform: translateX(-50%) !important;
}
.translate-middle-y {
  transform: translateY(-50%) !important;
}

/**------------------------------------------
테두리 정의
--------------------------------------------*/
.border {
  border: var(--border-width) var(--border-style) var(--border-color) !important;
}
.border-0 {
  border: 0 !important;
}
.border-top {
  border-top: var(--border-width) var(--border-style) var(--border-color) !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-end {
  border-right: var(--border-width) var(--border-style) var(--border-color) !important;
}
.border-end-0 {
  border-right: 0 !important;
}
.border-bottom {
  border-bottom: var(--border-width) var(--border-style) var(--border-color) !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-start {
  border-left: var(--border-width) var(--border-style) var(--border-color) !important;
}
.border-start-0 {
  border-left: 0 !important;
}
.border-1 {
  border-width: 1px !important;
}
.border-2 {
  border-width: 2px !important;
}
.border-3 {
  border-width: 3px !important;
}
.border-4 {
  border-width: 4px !important;
}
.border-5 {
  border-width: 5px !important;
}

/**------------------------------------------
플렉스 정의
--------------------------------------------*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-fill {
  flex: 1 1 auto !important;
}
.flex-row {
  flex-direction: row !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-row-reverse {
  flex-direction: row-reverse !important;
}
.flex-column-reverse {
  flex-direction: column-reverse !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.flex-shrink-1 {
  flex-shrink: 1 !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-nowrap {
  flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-evenly {
  justify-content: space-evenly !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.align-content-start {
  align-content: flex-start !important;
}
.align-content-end {
  align-content: flex-end !important;
}
.align-content-center {
  align-content: center !important;
}
.align-content-between {
  align-content: space-between !important;
}
.align-content-around {
  align-content: space-around !important;
}
.align-content-stretch {
  align-content: stretch !important;
}
.align-self-auto {
  align-self: auto !important;
}
.align-self-start {
  align-self: flex-start !important;
}
.align-self-end {
  align-self: flex-end !important;
}
.align-self-center {
  align-self: center !important;
}
.align-self-baseline {
  align-self: baseline !important;
}
.align-self-stretch {
  align-self: stretch !important;
}
.order-first {
  order: -1 !important;
}
.order-0 {
  order: 0 !important;
}
.order-1 {
  order: 1 !important;
}
.order-2 {
  order: 2 !important;
}
.order-3 {
  order: 3 !important;
}
.order-4 {
  order: 4 !important;
}
.order-5 {
  order: 5 !important;
}
.order-last {
  order: 6 !important;
}

/**------------------------------------------
간격(Gap) 정의
--------------------------------------------*/
.gap-0 {
  gap: 0 !important;
}
.gap-1 {
  gap: 0.25rem !important;
}
.gap-2 {
  gap: 0.5rem !important;
}
.gap-3 {
  gap: 1rem !important;
}
.gap-4 {
  gap: 1.5rem !important;
}
.gap-5 {
  gap: 3rem !important;
}
.row-gap-0 {
  row-gap: 0 !important;
}
.row-gap-1 {
  row-gap: 0.25rem !important;
}
.row-gap-2 {
  row-gap: 0.5rem !important;
}
.row-gap-3 {
  row-gap: 1rem !important;
}
.row-gap-4 {
  row-gap: 1.5rem !important;
}
.row-gap-5 {
  row-gap: 3rem !important;
}
.column-gap-0 {
  column-gap: 0 !important;
}
.column-gap-1 {
  column-gap: 0.25rem !important;
}
.column-gap-2 {
  column-gap: 0.5rem !important;
}
.column-gap-3 {
  column-gap: 1rem !important;
}
.column-gap-4 {
  column-gap: 1.5rem !important;
}
.column-gap-5 {
  column-gap: 3rem !important;
}

/**------------------------------------------
Float 정의
--------------------------------------------*/
.float-start {
  float: left !important;
}
.float-end {
  float: right !important;
}
.float-none {
  float: none !important;
}

/**------------------------------------------
Opacity 정의
--------------------------------------------*/
.opacity-0 {
  opacity: 0 !important;
}
.opacity-25 {
  opacity: 0.25 !important;
}
.opacity-50 {
  opacity: 0.5 !important;
}
.opacity-75 {
  opacity: 0.75 !important;
}
.opacity-100 {
  opacity: 1 !important;
}

/**------------------------------------------
Overflow 정의
--------------------------------------------*/
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-x-auto {
  overflow-x: auto !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.overflow-y-auto {
  overflow-y: auto !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-y-scroll {
  overflow-y: scroll !important;
}

/**------------------------------------------
텍스트 및 폰트 정의
--------------------------------------------*/
.fs-1 {
  font-size: calc(1.375rem + 1.5vw) !important;
}
.fs-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.3rem + 0.6vw) !important;
}
.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}
.fs-5 {
  font-size: 1.25rem !important;
}
.fs-6 {
  font-size: 1rem !important;
}
.fst-italic {
  font-style: italic !important;
}
.fst-normal {
  font-style: normal !important;
}
.fw-lighter {
  font-weight: lighter !important;
}
.fw-light {
  font-weight: 300 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.fw-semibold {
  font-weight: 600 !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.lh-1 {
  line-height: 1 !important;
}
.lh-sm {
  line-height: 1.25 !important;
}
.lh-base {
  line-height: 1.5 !important;
}
.lh-lg {
  line-height: 2 !important;
}
.text-start {
  text-align: left !important;
}
.text-end {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.text-decoration-line-through {
  text-decoration: line-through !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.word-break {
  word-break: keep-all;
}

/**------------------------------------------
Box Sizing 정의 (Margin & Padding)
--------------------------------------------*/
/* 중앙 정렬 */
.m0auto {
  margin: 0 auto;
}

/* Margin 속성 */
.m0 {
  margin: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt1 {
  margin-top: 1px !important;
}
.mt2 {
  margin-top: 2px !important;
}
.mt3 {
  margin-top: 3px !important;
}
.mt4 {
  margin-top: 4px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt6 {
  margin-top: 6px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.mt8 {
  margin-top: 8px !important;
}
.mt9 {
  margin-top: 9px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr1 {
  margin-right: 1px !important;
}
.mr2 {
  margin-right: 2px !important;
}
.mr3 {
  margin-right: 3px !important;
}
.mr4 {
  margin-right: 4px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr6 {
  margin-right: 6px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mr8 {
  margin-right: 8px !important;
}
.mr9 {
  margin-right: 9px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr70 {
  margin-right: 70px !important;
}
.mr80 {
  margin-right: 80px !important;
}
.mr90 {
  margin-right: 90px !important;
}
.mr100 {
  margin-right: 100px !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml1 {
  margin-left: 1px !important;
}
.ml2 {
  margin-left: 2px !important;
}
.ml3 {
  margin-left: 3px !important;
}
.ml4 {
  margin-left: 4px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml6 {
  margin-left: 6px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.ml8 {
  margin-left: 8px !important;
}
.ml9 {
  margin-left: 9px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.ml80 {
  margin-left: 80px !important;
}
.ml90 {
  margin-left: 90px !important;
}
.ml100 {
  margin-left: 100px !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb1 {
  margin-bottom: 1px !important;
}
.mb2 {
  margin-bottom: 2px !important;
}
.mb3 {
  margin-bottom: 3px !important;
}
.mb4 {
  margin-bottom: 4px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb6 {
  margin-bottom: 6px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mb8 {
  margin-bottom: 8px !important;
}
.mb9 {
  margin-bottom: 9px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}

/* Padding 속성 */
.p0 {
  padding: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt1 {
  padding-top: 1px !important;
}
.pt2 {
  padding-top: 2px !important;
}
.pt3 {
  padding-top: 3px !important;
}
.pt4 {
  padding-top: 4px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt6 {
  padding-top: 6px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt9 {
  padding-top: 9px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pt100 {
  padding-top: 100px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl1 {
  padding-left: 1px !important;
}
.pl2 {
  padding-left: 2px !important;
}
.pl3 {
  padding-left: 3px !important;
}
.pl4 {
  padding-left: 4px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl6 {
  padding-left: 6px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl9 {
  padding-left: 9px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl70 {
  padding-left: 70px !important;
}
.pl80 {
  padding-left: 80px !important;
}
.pl90 {
  padding-left: 90px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr1 {
  padding-right: 1px !important;
}
.pr2 {
  padding-right: 2px !important;
}
.pr3 {
  padding-right: 3px !important;
}
.pr4 {
  padding-right: 4px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr6 {
  padding-right: 6px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr9 {
  padding-right: 9px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pr70 {
  padding-right: 70px !important;
}
.pr80 {
  padding-right: 80px !important;
}
.pr90 {
  padding-right: 90px !important;
}
.pr100 {
  padding-right: 100px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb1 {
  padding-bottom: 1px !important;
}
.pb2 {
  padding-bottom: 2px !important;
}
.pb3 {
  padding-bottom: 3px !important;
}
.pb4 {
  padding-bottom: 4px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb6 {
  padding-bottom: 6px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pb9 {
  padding-bottom: 9px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}

/**------------------------------------------
크기(Width & Height) 정의
--------------------------------------------*/

.w10 {
  width: 10% !important;
}
.w20 {
  width: 20% !important;
}
.w30 {
  width: 30% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w60 {
  width: 60% !important;
}
.w70 {
  width: 70% !important;
}
.w80 {
  width: 80% !important;
}
.w90 {
  width: 90% !important;
}
.w100 {
  width: 100% !important;
}
.w1p {
  width: 1px !important;
}
.w2p {
  width: 2px !important;
}
.w3p {
  width: 3px !important;
}
.w4p {
  width: 4px !important;
}
.w5p {
  width: 5px !important;
}
.w6p {
  width: 6px !important;
}
.w7p {
  width: 7px !important;
}
.w8p {
  width: 8px !important;
}
.w9p {
  width: 9px !important;
}
.w10p {
  width: 10px !important;
}
.w20p {
  width: 20px !important;
}
.w30p {
  width: 30px !important;
}
.w40p {
  width: 40px !important;
}
.w50p {
  width: 50px !important;
}
.w60p {
  width: 60px !important;
}
.w70p {
  width: 70px !important;
}
.w80p {
  width: 80px !important;
}
.w90p {
  width: 90px !important;
}
.w100p {
  width: 100px !important;
}
.w150p {
  width: 150px !important;
}
.w200p {
  width: 200px !important;
}
.w250p {
  width: 250px !important;
}
.w300p {
  width: 300px !important;
}
.w350p {
  width: 350px !important;
}
.w400p {
  width: 400px !important;
}
.w450p {
  width: 450px !important;
}
.w500p {
  width: 500px !important;
}
.w550p {
  width: 550px !important;
}
.w600p {
  width: 600px !important;
}
.w650p {
  width: 650px !important;
}
.w700p {
  width: 700px !important;
}
.w750p {
  width: 750px !important;
}
.w800p {
  width: 800px !important;
}
.w850p {
  width: 850px !important;
}
.w900p {
  width: 900px !important;
}
.w950p {
  width: 950px !important;
}
.w1000p {
  width: 1000px !important;
}
.h1p {
  height: 1px !important;
}
.h2p {
  height: 2px !important;
}
.h3p {
  height: 3px !important;
}
.h4p {
  height: 4px !important;
}
.h5p {
  height: 5px !important;
}
.h6p {
  height: 6px !important;
}
.h7p {
  height: 7px !important;
}
.h8p {
  height: 8px !important;
}
.h9p {
  height: 9px !important;
}
.h10p {
  height: 10px !important;
}
.h20p {
  height: 20px !important;
}
.h30p {
  height: 30px !important;
}
.h40p {
  height: 40px !important;
}
.h50p {
  height: 50px !important;
}
.h60p {
  height: 60px !important;
}
.h70p {
  height: 70px !important;
}
.h80p {
  height: 80px !important;
}
.h90p {
  height: 90px !important;
}
.h100p {
  height: 100px !important;
}
.h150p {
  height: 150px !important;
}
.h200p {
  height: 200px !important;
}
.h250p {
  height: 250px !important;
}
.h300p {
  height: 300px !important;
}
.h350p {
  height: 350px !important;
}
.h400p {
  height: 400px !important;
}
.h450p {
  height: 450px !important;
}
.h500p {
  height: 500px !important;
}
.h550p {
  height: 550px !important;
}
.h600p {
  height: 600px !important;
}
.h650p {
  height: 650px !important;
}
.h700p {
  height: 700px !important;
}
.h750p {
  height: 750px !important;
}
.h800p {
  height: 800px !important;
}
.h850p {
  height: 850px !important;
}
.h900p {
  height: 900px !important;
}
.h950p {
  height: 950px !important;
}
.h1000p {
  height: 1000px !important;
}

/**------------------------------------------
버튼 공통 스타일
--------------------------------------------*/
.btn {
  width: 164px;
  height: 50px;
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  --btn-font-family: '';
  --btn-font-size: 16px;
  --btn-font-weight: 500;
  --btn-line-height: 1.5;
  --btn-color: var(--body-color);
  --btn-bg: transparent;
  --btn-border-width: var(--border-width);
  --btn-border-color: transparent;
  --btn-border-radius: var(--border-radius);
  --btn-hover-border-color: transparent;
  --btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --btn-disabled-opacity: 0.65;
  --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), 0.5);

  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  line-height: var(--btn-line-height);
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  // user-select: none;
  border: var(--btn-border-width) solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  background-color: var(--btn-bg);
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
}

.btn:focus-visible {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color);
  outline: 0;
  box-shadow: var(--btn-focus-box-shadow);
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: var(--btn-disabled-color);
  pointer-events: none;
  background-color: var(--btn-disabled-bg);
  border-color: var(--btn-disabled-border-color);
  opacity: var(--btn-disabled-opacity);
}

/**------------------------------------------
버튼 크기 설정
--------------------------------------------*/
.btn-sm {
  width: 120px;
  height: 50px;
  --btn-font-size: 16px;
  --btn-border-radius: var(--border-radius);
}
.btn-lg {
  width: 220px;
  height: 50px;
  --btn-font-size: 22px;
  --btn-border-radius: var(--border-radius);
}

/**------------------------------------------
버튼 스타일 (종류별)
--------------------------------------------*/

.btn-primary {
  --btn-color: #fff;
  --btn-bg: #4560eb;
  --btn-border-color: #4560eb;
  --btn-hover-color: #fff;
  --btn-hover-bg: #112aac;
  --btn-hover-border-color: #112aac;
  --btn-focus-shadow-rgb: 49, 132, 253;
  --btn-active-color: #fff;
  --btn-active-bg: #112aac;
  --btn-active-border-color: #112aac;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #aaaaaa;
  --btn-disabled-bg: #e1e1e1;
  --btn-disabled-border-color: #e1e1e1;
}

.btn-secondary {
  --btn-color: #fff;
  --btn-bg: #666666;
  --btn-border-color: #666666;
  --btn-hover-color: #fff;
  --btn-hover-bg: #1c1c1c;
  --btn-hover-border-color: #565e64;
  --btn-focus-shadow-rgb: 130, 138, 145;
  --btn-active-color: #fff;
  --btn-active-bg: #565e64;
  --btn-active-border-color: #51585e;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: #6c757d;
  --btn-disabled-border-color: #6c757d;
}

.btn-white {
  --btn-color: #333;
  --btn-bg: #fff;
  --btn-border-color: #999;
  --btn-hover-color: #333;
  --btn-hover-bg: #fff;
  --btn-hover-border-color: #333;
  --btn-focus-shadow-rgb: 60, 153, 110;
  --btn-active-color: #333;
  --btn-active-bg: #146c43;
  --btn-active-border-color: #13653f;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #aaa;
  --btn-disabled-bg: #fff;
  --btn-disabled-border-color: #e1e1e1;
  --btn-border-width: 2px;
}

.btn-arrow-secondary {
  width: 300px;
  height: 77px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  --btn-color: #fff;
  --btn-bg: #666666;
  --btn-border-color: #666666;
  --btn-hover-color: #fff;
  --btn-hover-bg: #1c1c1c;
  --btn-hover-border-color: #565e64;
  --btn-focus-shadow-rgb: 130, 138, 145;
  --btn-active-color: #fff;
  --btn-active-bg: #565e64;
  --btn-active-border-color: #51585e;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #fff;
  --btn-disabled-bg: #6c757d;
  --btn-disabled-border-color: #6c757d;
  --btn-border-width: 2px;
  --btn-font-size: 24px;
}

.btn-arrow-primary {
  width: 300px;
  height: 77px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  --btn-color: #fff;
  --btn-bg: #4560eb;
  --btn-border-color: #4560eb;
  --btn-hover-color: #fff;
  --btn-hover-bg: #112aac;
  --btn-hover-border-color: #112aac;
  --btn-focus-shadow-rgb: 49, 132, 253;
  --btn-active-color: #fff;
  --btn-active-bg: #112aac;
  --btn-active-border-color: #112aac;
  --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --btn-disabled-color: #aaaaaa;
  --btn-disabled-bg: #e1e1e1;
  --btn-disabled-border-color: #e1e1e1;
  --btn-font-size: 24px;
}

.btn-arrow-secondary::after,
.btn-arrow-primary::after {
  content: '';
  display: inline-block;
  // background-image: url('../../images/ico/after_arrow01.png');
  width: 42px;
  height: 11px;
  margin-left: 10px;
}

/**------------------------------------------
버튼 그룹 스타일 
--------------------------------------------*/
.btn-group {
  display: flex;
  gap: 10px;
}
.btn-group .btn {
  width: 120px;
  height: 50px;
  --btn-font-size: 18px;
}
.btn-group-sm {
  display: flex;
  gap: 10px;
}
.btn-group-sm .btn {
  width: 100px;
  height: 40px;
  --btn-font-size: 16px;
}

/**------------------------------------------
모달 팝업
--------------------------------------------*/
.modal_pop {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 2.5rem 2.969vw;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 99999;
}
.modal_pop.on {
  display: block;
}

.modal_pop_inner {
  border-radius: 0.4rem;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}
.modal_pop.on .modal_pop_inner {
  transform: none;
  opacity: 1;
  visibility: visible;
}

.modal_content {
  padding: 2rem 0;
  background: #fff;
  padding: 32px;
}
.modal_width100p {
  width: 90%;
}
.modal_width1200 {
  max-width: 1200px;
  width: 100%;
}
.modal_width1000 {
  width: 1000px;
}
.modal_width800 {
  width: 800px;
}
.modal_width600 {
  width: 600px;
}
.modal_alert {
  width: 300px;
}
.modal_alert .modal_content {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: calc(1rem - 0.5rem * 0.5);
  background-color: var(--body-bg);
  gap: 4px;
}

.modal_top_close {
  position: absolute;
  top: 22px;
  right: 20px;
}

#modal-title {
  padding: 36px 30px;
  position: relative;
  color: #214eb5;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.modal_content .txt01 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width: 1024px) {
  .modal_pop .modal_pop_inner {
    width: 95%;
  }
  #modal-title {
    font-size: 20px;
  }
  .modal_content {
    background: #fff;
    padding: 20px 5px;
  }
  .modal-title {
    height: 30px;
  }
}

/**------------------------------------------
모달 닫기 버튼
--------------------------------------------*/
.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: #000;
  // background: transparent
  //   url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
  //   center/1em auto no-repeat;
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.5;
  cursor: pointer;
  z-index: 9;
  font-size: 19px;
}
.btn-close:hover {
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled,
.btn-close.disabled {
  pointer-events: none;
  // user-select: none;
  opacity: 0.25;
}
.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/**------------------------------------------
토글 셀렉트 박스 (Footer 위)
--------------------------------------------*/
.family-site {
  display: flex;
  gap: 10px;
}

.select_topDrop {
  position: relative;
}
.select_topDrop .selected > a {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  width: 200px;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--outline-color);
}
.select_topDrop .selected > a::after {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 9px;
  right: 18px;
  content: '';
  // background: url(../../images/common/ic_depart.png) no-repeat;
  top: calc(50% - 5px);
  transition: all 0.3s;
}
.select_topDrop .selected.on > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.select_topDrop .selected.on > a::after {
  transform: translateY(30%) rotate(180deg);
}
.select_topDrop > .list {
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 43px;
  width: 200px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid var(--outline-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 99;
}
.select_topDrop > .list > li {
  line-height: 20px;
  padding: 5px 5px;
  width: 100%;
  display: block;
}
.select_topDrop > .list > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 13px;
}
.select_topDrop > .list > li > a:hover {
  color: #0a58ca;
}

/**------------------------------------------
통합검색 탭 01
--------------------------------------------*/
.search-tab01 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.search-tab01 li {
  padding: 0 20px;
  margin: 5px 0;
  font-family: var(--body-font-family);
  font-size: 18px;
  flex: 1 1 auto;
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-right: 0;
  cursor: pointer;
  transition: all 0.5s;
}
.search-tab01 li:last-child {
  border-right: 1px solid #dbdbdb;
}
.search-tab01 li span {
  color: #ff5757;
}

.search-tab01 li.on {
  background: var(--main-color);
  border: 0;
  color: #fff;
  position: relative;
}
.search-tab01 li.on * {
  color: #fff;
}
.search-tab01 li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 1.6;
}
.search-tab01 li.on::after {
  content: '';
  display: block;
  width: 23px;
  height: 10px;
  // background: url(../images/sub/searach-tab-on.png) center no-repeat;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.search-tab01 li:focus,
.search-tab01 li:hover {
  background: #f4f4f4;
}
.search-tab01 li.on:focus,
.search-tab01 li.on:hover {
  background: var(--sub2-color);
  color: #fff;
}

.search-tab01.link li {
  flex: unset;
  width: calc(100% / 6) !important;
}
.search-tab01.link li:nth-child(6n) {
  border-right: 0;
  border-radius: 0px 7px 7px 0px;
}
.search-tab01.link li:nth-child(7n) {
  border-radius: 7px 0px 0px 7px;
}
.search-tab01.link li:last-child {
  border-radius: 7px;
}
*[id^='fnTabSheet'] > li.show {
  display: block;
}
*[id^='fnTabSheet'] > li {
  display: none;
}

/* 링크탭 기본 */

.search-tab01.link li:nth-child(7n) a::after {
  display: none;
}

/**------------------------------------------
통합검색 탭 01 미디어 쿼리
--------------------------------------------*/
@media (max-width: 1024px) {
  .search-tab01 {
    background: none;
  }
  .search-tab01 li {
    min-width: calc(100% / 3 - 10px);
    border-radius: 7px !important;
    border: 0;
    margin: 5px;
    flex: 1 1 0;
  }
  .search-tab01.tab-dropdown li {
    width: 100% !important;
  }
  .search-tab01 li:last-child {
    border-radius: 7px;
  }
  .search-tab01 li.on::after,
  .link-tab > li.on::after {
    display: none;
  }
  .slide-tab > li {
    min-width: 100% !important;
  }
  .search-tab01.link li:nth-child(6n) {
    border-right: 1px solid #6496f1;
  }
  .search-tab01.tab-dropdown li.on a::after {
    display: none;
  }
  .tab-dropdown {
    display: block;
    position: relative;
    background: #fff;
    z-index: 99;
    padding-top: 45px;
    height: 45px;
  }
  .tab-dropdown li {
    min-width: 100%;
    margin: 0;
    position: relative;
    width: 100%;
    height: 45px !important;
    line-height: 44px;
    display: none;
    background: #fff;
    border: 1px solid #6496f1;
    border-top: 0;
    border-radius: 0 !important;
  }
  .tab-dropdown li:last-child {
    border: 1px solid #6496f1;
    border-top: 0;
  }
  .tab-dropdown li.on {
    position: absolute;
    top: 0;
    border-radius: 7px !important;
    display: block;
    background: #fff;
    border: 1px solid #6496f1;
  }
  .tab-dropdown li.on::before {
    width: 17px;
    height: 9px;
    content: '';
    display: block;
    // background: url(../../images/ico/ic_acc_down.png);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 999;
  }
  .tab-dropdown li a {
    justify-content: flex-start;
    color: #6496f1;
  }
  .tab-dropdown li.on a {
    color: #6496f1 !important;
  }
  .tab-dropdown.opened li {
    display: block;
  }
  .tab-dropdown.opened li.on {
    border-radius: 7px 7px 0 0 !important;
    background: #dde9ff;
  }
  .tab-dropdown.opened li.on::before {
    transform: translateY(-50%) rotate(180deg);
  }
}

/**------------------------------------------
아이콘 및 리스트 디자인
--------------------------------------------*/
/* Depth 아이콘 디자인 */
.title-ico1 {
  display: flex;
  gap: 10px;
  font-size: 25px;
  line-height: 1.7 !important;
  color: #09328d;
  font-weight: 500;
  position: relative;
}
.title-ico1::before {
  // background: url('../../images/ico/ic_title1.png') no-repeat;
  content: '';
  flex: 0 0 22px;
  width: 20px;
  height: 40px;
  background-size: contain;
  background-position: 0 10px;
}
.title-ico2 {
  display: flex;
  gap: 10px;
  font-size: 20px;
}
.title-ico2::before {
  // background: url('../../images/ico/ic_title2.png') no-repeat;
  content: '';
  flex: 0 0 19px;
  width: 19px;
  height: 30px;
  background-size: contain;
  background-position: 0 6px;
}
.title-ico3 {
  display: flex;
  gap: 10px;
  font-size: 16px;
  position: relative;
  padding-left: 14px;
}
.title-ico3::before {
  content: '';
  display: block;
  width: 9px;
  height: 9px;
  background: #ccc;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: 0;
}

.indent {
  margin-left: 10px;
}

/* 리스트 디자인 */
.list.list1 li {
  display: flex;
  gap: 10px;
  font-size: 16px;
}
.list.list1 li::before {
  content: '-';
}

/**------------------------------------------
접근성 (Skip 및 Accessibility 태그)
--------------------------------------------*/

/* Skip 태그 */
.skip {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  background: 0 0;
  font-size: 0 !important;
  color: transparent !important;
  line-height: 0;
}

/* Accessibility 태그 */
.accessibility {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16777271;
  width: 100%;
}
.accessibility a {
  display: block;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
.accessibility a:focus {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
  color: #fff;
}

/* sr-only: 스크린 리더 전용 콘텐츠 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/**------------------------------------------
폼 컨트롤
--------------------------------------------*/
/* Form Control 기본 스타일 */
.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  appearance: none;
  background-color: var(--body-bg);
  background-clip: padding-box;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: var(--body-color);
  background-color: var(--body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
