:root {
  --def-background-color: #fff;
  --def-text-color: #000;

  --dark-background-color: #252525;
  --dark-text-color: #fff;
}

body.light {
  background: var(--def-background-color);
  color: var(--def-text-color);
  * {
    background: var(--def-background-color);
    color: var(--def-text-color);
  }
}

body.dark {
  background: var(--dark-background-color);
  color: var(--dark-text-color);
  * {
    background: var(--dark-background-color);
    color: var(--dark-text-color);
  }
}

body {
  transition: background-color 0.3s linear;
  * {
    transition: background-color 0.3s linear;
  }
}

.router_testArea {
  display: flex;
  align-items: center;
  gap: 10px;
}

.App {
  .alram_list {
    flex-flow: column wrap;
    gap: 10px;
    margin-bottom: 5px;

    > li {
      flex: 1 100;
    }
  }

  .todo_list_box {
    form {
      display: flex;
      gap: 10px;
    }

    .todo_el {
      display: flex;
      gap: 5px;
    }
  }
}

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
